@import url("https://unpkg.com/handsfree@8.5.1/build/lib/assets/handsfree.css");

body {
    font-family: Helvetica, sans-serif;
    background: black;
    color: white;
    margin: 0;
}

.p5 {
    height: 100vh;
    height: 100svh;
    overflow: hidden;
}