---
import Layout from "../layouts/Layout.astro";
import Works from "../components/Works.astro";
import Contact from "../components/Contact.astro";
import Animation from "../components/Animation.astro";
---

<Layout>
	<Animation />
	<div class="container">
		<div class="cool-text white-hero">
			<h1>i' m a freelance web developer & web designer.</h1>
		</div>
		<div class="cool-text minimalist">& minimalist.</div>
		<Works />
		<Contact />
	</div>
</Layout>
