<script>
    import P5 from "p5";
    import { Pane } from "tweakpane";
    const container = document.querySelector(".p5") as HTMLElement;
    const sketch = (p5: P5) => {
        const PARAMS = {
            size: 0.5,
        };
        const pane = new Pane({
            title: "Parameters",
            expanded: true,
        });
        pane.addBinding(PARAMS, "size", { min: 0, max: 1 });
        let width,
            height,
            totalW,
            rows,
            cols,
            marginLeft,
            marginTop,
            numbers,
            holes,
            moves;
        p5.setup = () => {
            width = container.clientWidth;
            height = container.clientHeight;

            p5.createCanvas(width, height, p5.WEBGL);
            // p5.ortho(-width, width, height, -height/2, 0.1, 100);
            p5.fill("black");
            p5.stroke("red");
            // p5.strokeWeight(0);
            container.style.opacity = "1";
        };

        p5.draw = () => {
            p5.rotateX(p5.frameCount * 0.01);
            p5.rotateY(p5.frameCount * 0.01);
            p5.box(width * PARAMS.size);
        };
        p5.windowResized = () => p5.setup();
        // pane.on("change", () => p5.setup());
    };
    new P5(sketch, container);
</script>
<div class="p5"></div>
