---
import fs from "node:fs/promises";

const pages = await fs.readdir("./src/pages/archive");
const routes = pages
    .map((p) => p.substring(0, p.lastIndexOf(".")))
    .sort((a, b) => +a.replace(/^\D+/g, "") - +b.replace(/^\D+/g, ""));
---

<script>
    const total =
        +document.querySelector<HTMLElement>(`[data-total]`).dataset.total;
    const actual = +window.location.pathname.match(/\d+/)[0];
    console.log(total, actual);
    const prev = actual - 1 > 0 ? actual - 1 : total;
    const next = actual + 1 <= total ? actual + 1 : 1;
    const rand = Math.floor(Math.random() * total);
    document.querySelector<HTMLAnchorElement>(
        ".prev",
    ).href = `/archive/a${prev}`;
    document.querySelector<HTMLAnchorElement>(
        ".rand",
    ).href = `/archive/a${rand}`;
    document.querySelector<HTMLAnchorElement>(
        ".next",
    ).href = `/archive/a${next}`;
</script>
<div class="widget" transition:persist>
    <nav data-total={routes.length - 1}>
        <a href=`/archive/${routes[0]}` class="prev">Prev</a>
        <a
            href=`/archive/${routes[Math.floor(routes.length * Math.random())]}`
            class="rand">Random</a
        >
        <a href=`/archive/${routes[routes.length - 1]}` class="next">Next</a>
        <a href="/" class="home">Home</a>
    </nav>
</div>
<style lang="scss">
    .widget {
        position: fixed;
        bottom: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        pointer-events: none;
        z-index: 999999;
        nav {
            pointer-events: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0.5rem;
            padding: 0.5rem;
            border-radius: 1rem;
            background-color: rgba(42, 42, 42, 0.6);
            backdrop-filter: blur(1rem);
            a {
                color: inherit;
                text-decoration: inherit;
                background-color: rgba(35, 35, 35, 0.8);
                color: rgba(220, 220, 220, 0.8);
                border-radius: 1rem;
                padding: 0.5rem 1rem;
                transition:
                    color 0.4s,
                    background-color 0.4s;
                &.home {
                    flex-basis: 100%;
                    text-align: center;
                }
                &:hover {
                    background-color: rgba(35, 35, 35, 1);
                    color: rgba(220, 220, 220, 1);
                }
            }
        }
    }
</style>
