---
import projectFile from "@data/projects.json";
---

<script>
    function setup() {
        const el = document.querySelector<HTMLElement>(`.hide-body`);
        const body = document.querySelector<HTMLElement>(`.container`);
        if (!el) return;
        el.onmouseenter = () => {
            body.style.opacity = "0";
        };
        el.onmouseleave = () => {
            body.style.opacity = "1";
        };
    }
    document.addEventListener("astro:page-load", setup);
</script>
<div class="works">
    <h2 class="cool-text work-motto">
        I BUILD BLAZINGLY FAST WEBSITES WITH <span class="hide-body">CRAZY</span
        >
         DESIGNS THAT CLIENTS CAN EASILY MANAGE THEMSELVES.
    </h2>
    <h4 class="cool-text">(most of them are still in development ;)</h4>
    {
        projectFile?.projects?.map((w) => (
            <a href={w.url}>
                <div>
                    <h1 class="cool-text work-item">{w.name}</h1>
                </div>
            </a>
        ))
    }
</div>

<style lang="scss">
    h2.cool-text {
        font-size: 6vw;
        span {
            cursor: pointer;
        }
    }
    h4.cool-text {
        font-size: 2.5vw;
    }
    .work-item {
        margin: 0 2vw;
        padding: 0 2vw;
        opacity: 0.5;
        transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
        background: none;
    }

    .work-item:hover {
        opacity: 1;
    }
    .works {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
</style>
