<script>
    import * as THREE from "three";
    import { EffectComposer } from "three/addons/postprocessing/EffectComposer.js";
    import { RenderPass } from "three/addons/postprocessing/RenderPass.js";
    import { ShaderPass } from "three/addons/postprocessing/ShaderPass.js";

    let camera,
        scene,
        renderer,
        composer,
        renderPass,
        customPass,
        meshes = [],
        uMouse = new THREE.Vector2(0, 0);

    const canvas = document.querySelector(".a25");
    camera = new THREE.PerspectiveCamera(
        70,
        window.innerWidth / window.innerHeight,
        10,
        1000,
    );
    camera.position.z = 610;
    scene = new THREE.Scene();

    for (const img of document.querySelectorAll<HTMLImageElement>(
        "[data-img-webgl]",
    )) {
        let texture = await new THREE.TextureLoader().loadAsync(img.src);
        const { width, height } = img.getBoundingClientRect();
        let geometry = new THREE.PlaneGeometry(1, 1);
        let material = new THREE.MeshBasicMaterial({
            map: texture,
        });
        let mesh = new THREE.Mesh(geometry, material);
        mesh.position.y = 430 - img.offsetTop - height / 2;
        mesh.scale.set(width, height, 1);
        mesh.imgRef = img;
        scene.add(mesh);
        meshes.push(mesh);
        img.style.opacity = "0";
    }

    renderer = new THREE.WebGLRenderer({
        canvas,
        alpha: true,
        antialias: true,
    });
    renderer.setSize(window.innerWidth, window.innerHeight);

    // post processing
    composer = new EffectComposer(renderer);
    renderPass = new RenderPass(scene, camera);
    composer.addPass(renderPass);

    let myEffect = {
        uniforms: {
            tDiffuse: { value: null },
            resolution: {
                value: new THREE.Vector2(
                    1,
                    window.innerHeight / window.innerWidth,
                ),
            },
            uMouse: { value: new THREE.Vector2(-10, -10) },
            uVelo: { value: 0 },
        },
        vertexShader: `varying vec2 vUv;void main() {vUv = uv;gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0 );}`,
        fragmentShader: `uniform float time;
        uniform sampler2D tDiffuse;
        uniform vec2 resolution;
        varying vec2 vUv;
        uniform vec2 uMouse;
        float circle(vec2 uv, vec2 disc_center, float disc_radius, float border_size) {
          uv -= disc_center;
          uv*=resolution;
          float dist = sqrt(dot(uv, uv));
          return smoothstep(disc_radius+border_size, disc_radius-border_size, dist);
        }
        void main()  {
            vec2 newUV = vUv;
            float c = circle(vUv, uMouse, 0.0, 0.2);
            float r = texture2D(tDiffuse, newUV.xy += c * (0.1 * .5)).x;
            float g = texture2D(tDiffuse, newUV.xy += c * (0.1 * .525)).y;
            float b = texture2D(tDiffuse, newUV.xy += c * (0.1 * .55)).z;
            vec4 color = vec4(r, g, b, 1);
            if (r == g && r == b) {
                color = vec4(r, g, b, 0);
            }

            gl_FragColor = color;
        }`,
    };

    customPass = new ShaderPass(myEffect);
    composer.addPass(customPass);
    animate();

    function animate() {
        customPass.uniforms.uMouse.value = uMouse;
        requestAnimationFrame(animate);
        camera.position.y = -window.scrollY;
        composer.render();
    }

    window.addEventListener("resize", () => {
        renderer.setSize(window.innerWidth, window.innerHeight);
        camera.aspect = window.innerWidth / window.innerHeight;
        customPass.uniforms.resolution.value.y =
            window.innerHeight / window.innerWidth;
        camera.updateProjectionMatrix();
        for (const mesh of meshes) {
            const { width, height } = mesh.imgRef.getBoundingClientRect();
            mesh.scale.set(width, height, 1);
            mesh.position.y = 430 - mesh.imgRef.offsetTop - height / 2;
        }
    });
    document.addEventListener("mousemove", (e) => {
        uMouse.x = e.clientX / window.innerWidth;
        uMouse.y = 1 - e.clientY / window.innerHeight;
    });
</script>
<div class="wrapper">
    <img data-img-webgl src="/images/img1.jpg" alt="" />
    <h1>WEILA BROTHER</h1>
    <p>
        Once upon a time, in a small, picturesque town named Harmonyville, there
        lived a man named Samuel. He was known far and wide as the nicest guy
        anyone had ever met. Samuel's kindness was so legendary that people
        often said, "If you need a friend, just look for Samuel." Samuel wasn't
        particularly rich or famous, but his heart was pure gold. He had a warm
        smile that could light up even the cloudiest of days and a personality
        that radiated positivity. He went out of his way to help anyone in need,
        whether it was carrying groceries for an elderly neighbor or
        volunteering at the local animal shelter. One sunny morning, as Samuel
        was tending to his beautiful garden, he noticed a new family had moved
        into the house next door. The Harpers were a young couple with two
        children, and they seemed a bit overwhelmed by the process of settling
        into their new home. Samuel didn't waste a moment. He walked over and
        introduced himself with his usual warm and welcoming smile. "Hi there!
        I'm Samuel, your neighbor from next door. If you need any help with
        anything, please don't hesitate to ask. Welcome to Harmonyville!" he
        said with genuine enthusiasm. The Harpers were taken aback by Samuel's
        kindness and generosity. Over the next few weeks, Samuel assisted them
        with everything from fixing a leaky faucet to recommending the best
        schools in the area. He even hosted a barbecue in his backyard to
        introduce them to other friendly neighbors. As the days turned into
        weeks, the Harpers began to experience the true essence of Samuel's
        goodness. When Mr. Harper lost his job, Samuel discreetly left a bag of
        groceries on their doorstep, making sure they never went hungry. He also
        helped Mrs. Harper with the kids and tutored them in their schoolwork
        when they struggled. Samuel's actions went beyond simple neighborly
        kindness; he became an integral part of their lives. One day, the
        Harpers decided to host a "Thank You" party for Samuel to show their
        appreciation. The whole town joined in to celebrate the man who had
        touched their hearts in countless ways. Samuel's garden, once filled
        with colorful blooms, now overflowed with smiling faces and laughter. In
        the years that followed, Harmonyville flourished in happiness and unity,
        all thanks to Samuel's unwavering kindness and the ripple effect it had
        on the entire community. Samuel was a living testament to the idea that
        it doesn't take grand gestures to be a hero; simple acts of kindness can
        change the world, one person at a time. And so, in the charming town of
        Harmonyville, the legend of Samuel, the nicest guy who ever lived, lived
        on, inspiring generations to come to be a little kinder, a little more
        compassionate, and a little more like Samuel.
    </p>
    <canvas class="a25"></canvas>
    <img data-img-webgl src="https://source.unsplash.com/ZESbrsLBPPk" alt="" />
</div>
<style lang="scss">
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 64rem;
        margin: auto;
        padding: 4rem;
        img {
            width: 100%;
            transition: opacity 0.3s;
        }

        h1 {
            padding: 2rem 0;
            font-size: 5rem;
        }
        canvas {
            position: fixed;
            top: 0;
            left: 0;
            pointer-events: none;
            // z-index: -1;
        }
        p {
            line-height: 2;
            font-size: 2rem;
        }
    }
</style>
