---
import { ViewTransitions } from "astro:transitions";
import "../styles/global.scss";
import Widget from "@components/Widget.astro";
---

<script src="../scripts/main.js"></script>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Michele Volonghi | Portfolio</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
		<Widget />
	</body>
</html>
